@use "../settings/sizing.scss";

.about-me-block {
    text-align: left;
    padding: 1rem;

    > * {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about-me-profile {
    height: 20rem;
}
