@use "../settings/colors.scss";

.alert {
    padding: 0.6rem 1rem;
    text-align: left;

    &.alert-success {
        background: rgba(colors.$success, 0.8);
        color: #fff;
    }

    &.alert-error {
        background: rgba(colors.$error, 0.9);
        color: #fff;
    }
}
