@use "../settings/sizing.scss";

.block {
    padding: 2rem;
    text-align: center;

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: sizing.$item-spacing;
    }

    .limit-width {
        margin-left: 50%;
        transform: translateX(-50%);
        max-width: 50%;
    }
}
