@use '../settings/sizing.scss';
@use '../settings/timing.scss';

.card {
    background: #fff;
    padding: sizing.$item-spacing * 4;
    width: calc(50% - sizing.$item-spacing);
    display: flex;
    flex-direction: column;
    gap: sizing.$item-spacing;
    text-align: left;
    box-shadow: 0 0.1rem 1rem rgb(#000, 0.01);

    .card-gallery {
        position: relative;
        cursor: pointer;
        margin-bottom: 1rem;

        img {
            width: 100%;
        }

        &:hover {
            .hover {
                visibility: visible;
                opacity: 1;
            }
        }

        .hover {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background: rgb(#000, 0.5);
            pointer-events: none;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transition:
                opacity timing.$anim-time,
                visibility timing.$anim-time;
        }
    }
}
