@use "../settings/sizing.scss";
@use "../settings/colors.scss";
@use "../settings/timing.scss";

.dropdown-menu {
    position: relative;

    .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: none;
        outline: none;
        background: none;

        .icon-open {
            display: none;
        }
        
        .icon-closed {
            display: block;
        }
    }

    .dropdown-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        list-style: none;
        background: colors.$body;
        min-width: 100%;
        border: 1px solid colors.$border;

        .dropdown-item {
            button {
                border: none;
                outline: none;
                background: transparent;
                min-width: 100%;
                text-align: left;
                transition: timing.$anim-time background;
                padding: 0.2rem 1rem;
                font-size: 0.8rem;
                color: colors.$text;

                &:hover {
                    background: colors.$secondary;
                }
            }

            &.active button {
                background: colors.$secondary;
            }
        }
    }

    &:hover {
        .dropdown-toggle {
            .icon-open {
                display: block;
            }

            .icon-closed {
                display: none;
            }
        }

        .dropdown-list {
            display: block;
        }
    }
}
