@use "../settings/sizing.scss";

.fluid-container {
    display: flex;

    &.center {
        display: flex;
        justify-content: center;
    }

    .content {
        width: 50%;

        @media only screen and (max-width: sizing.$mobile-width-threshold) {
            width: 100%;
        }
    }
}
