.fluid-container {
    display: flex;

    &.center {
        display: flex;
        justify-content: center;
    }

    .content {
        max-width: 50%;

        @media only screen and (max-width: 600px) {
            max-width: calc(100% - 2rem);
        }
    }
}
