@use "../settings/colors.scss";
@use "../settings/sizing.scss";

.footer {
    background: colors.$text;
    color: colors.$body;
    padding: 3rem 15%;
    width: 100%;

    @media only screen and (min-width: sizing.$mobile-width-threshold) {
        display: flex;
        gap: 10%;
    }

    .footer-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;

        .footer-item {
            font-size: 0.9rem;
            width: 100%;
        }
    }
}
