@use "../settings/sizing.scss";
@use "../settings/colors.scss";
@use "../settings/timing.scss";

@mixin hover($color) {
    &:hover {
        background-color: $color;
    }
}

.btn {
    border: none;
    outline: none;
    padding: sizing.$frame-padding;
    border-radius: sizing.$border-rounding;
    font-weight: 500;
    color: #fff;
    transition: timing.$anim-time background;

    &.btn-primary {
        background: colors.$primary;
        @include hover(colors.$primary-hover);
    }

    &.btn-secondary {
        background: colors.$secondary;
        @include hover(colors.$secondary-hover);
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: sizing.$item-spacing;

    .form-row {
        display: flex;
        width: 100%;
        gap: sizing.$item-spacing;

        * {
            width: 100%;
        }
    }
}

.textbox {
    padding: 0.5rem 0.8rem;
    border-radius: sizing.$border-rounding;
    border: 1px solid colors.$border;
    outline: 0.2rem solid transparent;
    transition: timing.$anim-time outline-color;

    &:focus {
        outline-color: colors.$primary;
    }
}

textarea.textbox {
    resize: vertical;
    min-height: 5rem;
    max-height: 10rem;
}
