@use "../settings/sizing.scss";

.hero {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-content {
        * {
            margin-bottom: sizing.$item-spacing;
            
            &:last-child {
                margin-bottom: none;
            }
        }
    }
}
