@use "../settings/sizing.scss";

.inline {
    display: flex;
    gap: sizing.$item-spacing;
    flex-wrap: wrap;

    &.no-wrap {
        flex-wrap: nowrap !important;
    }

    &.center {
        justify-content: center;
    }
}
