@use "../settings/sizing.scss";

.inline {
    display: flex;
    gap: sizing.$item-spacing;
    flex-wrap: wrap;

    &.nowrap {
        flex-wrap: nowrap;

        > * {
            width: 100%;
        }
    }

    &.center {
        justify-content: center;
    }
}
