@use '../settings/colors.scss';
@use '../settings/timing.scss';
@use '../settings/sizing.scss';

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    gap: 2rem;
    transition:
        timing.$anim-time background,
        timing.$anim-time border-bottom;
    margin-bottom: sizing.$item-spacing;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .nav-group {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1rem;

        .nav-item {
            &.hide-mobile {
                @media only screen and (max-width: sizing.$mobile-width-threshold) {
                    display: none;
                }
            }

            * {
                color: #fff;
            }

            img {
                height: 0.8rem;
                cursor: pointer;
            }

            a {
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    &.show-background {
        background: colors.$body;
        border-bottom: 1px solid colors.$border;

        .nav-item * {
            color: colors.$text;
        }

        .nav-item a {
            &:hover {
                color: colors.$link-hover;
            }
        }
    }
}
