@use "../settings/colors.scss";
@use "../settings/timing.scss";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    gap: 2rem;
    transition: timing.$anim-time background, timing.$anim-time border-bottom;

    .nav-group {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1rem;

        &.left {
            // TODO
        }

        &.right {
            // TODO
        }

        .nav-item {
            * {
                color: #fff;
            }

            a {
                &.active {
                    color: colors.$link;
                }
            }
        }
    }

    &.show-background {
        background: colors.$body;
        border-bottom: 1px solid colors.$border;

        .nav-item * {
            color: colors.$text;

            &:hover {
                color: colors.$link-hover;
            }
        }
    }
}
