@use "../settings/sizing.scss";

.project {
    background: url("../../assets/images/project.svg") no-repeat center center;
    background-size: contain;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 15rem;
    padding: 1rem;

    .wrapper {
        width: 100%;
        
        p {
            width: 100%;
        }
    }
}
