@use "../settings/sizing.scss";
@use "../settings/colors.scss";
@use "../settings/timing.scss";

.tag {
    background: colors.$primary;
    padding: sizing.$frame-padding;
    color: #fff;
    cursor: pointer;
    transition: timing.$anim-time transform, timing.$anim-time box-shadow;

    &:hover {
        transform: translateY(-10%);
        box-shadow: 0 1ch 0.8rem rgba(#000, 0.3);
    }
}
