@use "../settings/sizing.scss";
@use "../settings/colors.scss";
@use "../settings/timing.scss";

.tag {
    position: relative;
    background: colors.$primary;
    padding: sizing.$frame-padding;
    color: #fff;
    cursor: pointer;
    transition: timing.$anim-time transform, timing.$anim-time box-shadow;

    &:hover {
        transform: translateY(-10%);
        box-shadow: 0 1ch 0.8rem rgba(#000, 0.3);

        .label {
            display: block;
        }
    }

    .label {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - 0.5rem));
        background: rgba(#000, 0.5);
        padding: sizing.$frame-padding;
        min-width: 100%;
        display: none;
    }
}
