@use "./settings/colors.scss";
@use "./settings/fonts.scss";
@use "./settings/timing.scss";

:root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fonts.$body;
}

body {
    background-color: colors.$body;
    color: colors.$text;
}

button {
    cursor: pointer;
}

button, input, textarea, label {
    font-size: 1rem;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: fonts.$headings;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

label {
    font-weight: 500;
}

a {
    color: colors.$link;
    transition: timing.$anim-time color;

    &:hover {
        color: colors.$link-hover;
    }
}

.muted {
    color: rgb(colors.$text, 0.5);
}

.small {
    font-size: 0.8rem;
}
