$body: #f7f9f7;
$border: #dddddd;

$primary: #6d9270;
$primary-hover: #627f64;

$secondary: #c6c6c0;
$secondary-hover: #a9a9a0;

$accent: #575042;
$accent-hover: #363128;

$text: #0e120e;

$success: #28a745;
$error: #dc3545;

$link: $primary;
$link-hover: $primary-hover;
