@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$font-family: "Inter";

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-Thin.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-ExtraLight.ttf");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-Italic.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-Black.ttf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url("../../assets/fonts/Inter/Inter-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

$headings: "Inria Serif";
$body: $font-family;
